@media print, (max-width: 1023px) {
 
    :root {
        --font_size_title: 32px;
        --font_size: 20px;
    }
    .header_text {
        font-size: 26px;
    }
    .program_top {
        columns: 1;
        flex-direction: column;    
    }
    .program_top p br {
        display: none;
    }
    .program_top p:nth-child(1),
    .program_top p:nth-child(2) {
        max-width: 100%;
    }
    .program_top p:nth-child(2) {
        margin-top: 20px;
    }
    .registration_text {
        font-size: 26px;
    }
    .registration_title {
        margin-bottom: 40px;
    }
    .program_title {
        margin-bottom: 40px;
    }
    footer {
        padding: 60px 0 80px;
    }

    

    
}
